streamlit
pandas
numpy
plotly
opencv-python-headless
streamlit
torch
transformers
googletrans==4.0.0-rc1
pandas
statsmodels
numpy
Pillow
langchain
langchain-community
chromadb
google.generativeai
pypdf
scikit-learn
sentence-transformers
tensorflow
tf-keras
pickleshare==0.7.5
sqlite3 >= 3.35.0
