streamlit
tensorflow
torch
transformers
googletrans==4.0.0-rc1
pandas
statsmodels
numpy
pillow
langchain
langchain-community
chromadb
google.generativeai
pypdf
langchain.embeddings
sentence-transformers
